@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
/* Import FontAwesome */

.center {
    float:none;
    margin:0 auto;
}

.form-control {
    margin:10px 0px;
}

#map { height: 500px; }

#ex1Slider .slider-selection {
    background: #BABABA;
}

.right {
	float: right;
}

.centertext {
	text-align: center;
}

.righttext {
	text-align: right;
	padding-right: .5em;
}

dt {
	padding-left: .5em;
}

dd {
	font-style: italic;
	padding-left: 1.5em;
}

nav {
	position: fixed;
	background-color: #400040;
	color: #e5c100;
	z-index: 1;
	left: 0px;
	top: 0px;
	font-variant: small-caps;
	width: 100%;
	padding-top: 5px;
}

.logout-btn {
    margin-right: 10px;
    margin-left: 10px;
}

#drivers h6 {
	margin:5px 0px;
}

#createCar {
	padding:50px 0px;
}

.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: '';
}
.spinner:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.spinner {
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
}

/* Media query, instructions for large screens */
@media screen and (min-width: 768px){
	header {
		background-image: url(../img/quad.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		position:relative;
		color: #400040;
		min-height: 400px;
		margin-top: 0;
		top: 10px;
		width: auto;
		border-bottom: 3px solid;
		border-bottom-color: #e5c100;
		margin-bottom: 2em;
	}
}
