@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
/* Import FontAwesome */

.center {
    float:none;
    margin:0 auto;
}

.form-control {
    margin:10px 0px;
}

#map { height: 500px; }

#ex1Slider .slider-selection {
    background: #BABABA;
}

.right {
	float: right;
}
