<h2>Name:{{ user.name }}</h2>
<p>Email:{{ user.email }}</p>
<p>Phone:{{ user.phone }}</p>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        <tr>
            <td>{{ user.riderTimes.MonAM.time }}</td>
            <td>{{ user.riderTimes.TuesAM.time }}</td>
            <td>{{ user.riderTimes.WedAM.time }}</td>
            <td>{{ user.riderTimes.ThursAM.time }}</td>
            <td>{{ user.riderTimes.FriAM.time }}</td>
        </tr>
        <tr>
            <td>{{ user.riderTimes.MonPM.time }}</td>
            <td>{{ user.riderTimes.TuesPM.time }}</td>
            <td>{{ user.riderTimes.WedPM.time }}</td>
            <td>{{ user.riderTimes.ThursPM.time }}</td>
            <td>{{ user.riderTimes.FriPM.time }}</td>
        </tr>
    </table>
</div>