<div id="drivers">
    <h1>Driver</h1>
    <div ng-hide="$root.currentUser.car" id="createCar">
        <h3>Create your car</h3>
        <form name="createCarForm" ng-submit="createCarForm.$valid && createCar()" novalidate>
            <div class="form-group">
                <label for="seats">Seats</label>
                <h6>Not including driver seat</h6>
                <div style="color:red" ng-show="createCarForm.$submitted && createCarForm.$dirty && createCarForm.$invalid">
                  <div ng-show="createCarForm.seats.$error.required">Your car must have seats.</div>
                </div>
                <input type="number" value="1" name="seats" ng-model="car.seats" min="1" max="50" required>
            </div>
            <div class="form-group">
                <label for="seats">Model</label>
                <h6>eg. 2001 Honda Civic</h6>
                <div style="color:red" ng-show="createCarForm.$submitted && createCarForm.$dirty && createCarForm.$invalid">
                  <div ng-show="createCarForm.model.$error.required">Your car must have seats.</div>
                  <div ng-show="createCarForm.model.$error.minlength && !createCarForm.model.$error.required">Your car must have a model.</div>
                  <div ng-show="createCarForm.model.$error.maxlength && !createCarForm.model.$error.required">Your car model is too long</div>
                </div>
                <input type="text" value="" name="model" placeholder="Car model" ng-model="car.model" ng-minlength="10" ng-maxlength="120" required>
            </div>
            <div style="color:red" ng-show="createCarForm.$submitted && createCarForm.$dirty && createCarForm.$invalid">
                  <div ng-show="createCarForm.desc.$error.required">Your car must have a description.</div>
                </div>
            <div class="form-group">
                <label for="desc">Car Description</label>
                <textarea class="form-control" name="desc" id="" cols="30" rows="4" ng-model="car.desc" required></textarea>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Create"></input>
        </form>
    </div>
    <div ng-show="$root.currentUser.car">
        <h5><b>Your Car: </b>{{$root.currentUser.car.model}}</h5>
        <p><b>Seats: </b>{{$root.currentUser.car.seats}}</p>
        <p><b>Description: </b>{{$root.currentUser.car.desc}}</p>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Day:</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Number of AM Riders:</td>
                        <td ng-repeat="day in $root.days">
                            <button type="button" class="btn btn-primary" ng-disabled="!$root.currentUser.car.riders.to[day].length" ng-click="openDriverDaySummaryModal(day, 'to')">
                                {{ $root.currentUser.car.riders.to[day].length || 0 }}
                            </button>

                        </td>
                    </tr>
                    <tr>
                        <td>Number of PM Riders:</td>
                        <td ng-repeat="day in $root.days">
                            <button type="button" class="btn btn-primary" ng-disabled="!$root.currentUser.car.riders.from[day].length" ng-click="openDriverDaySummaryModal(day, 'from')">{{ $root.currentUser.car.riders.from[day].length || 0 }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- <input type='number' ng-model="pickUpRadius" ng-change="update_radius()"></input> -->
        <h4>Change Your Pick-Up Zone Radius:</h4>
        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="0.2" data-slider-value="0"
        ng-model="pickUpRadius" ng-change="update_radius()" />

        <br><br><br>

        <div id="map"></div>

        <br><br><br>
    </div>


</div>

<script type="text/ng-template" id="driverDaySummary.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ direction }} carpool summary for {{ day }}</h3>
    </div>
    <div class="modal-body">
        <h3>Riders to pick up today: {{ summaryRiders.length }}</h3>

        <ul>
            <li ng-repeat="rider in summaryRiders">
                {{ rider.name }}
                <ul>
                    <li>Email: {{ rider.email }}</li>
                    <li>Phone: {{ rider.phone }}</li>
                    <li>Lat: {{ rider.lat }}</li>
                    <li>Lng: {{ rider.lng }}</li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$close()">Close</button>
    </div>
</script>


<script type="text/ng-template" id="driverModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ $root.modalUser.name }}</h3>
    </div>
    <div class="modal-body">
        <p>{{ $root.modalUser.email }}</p>
        <p>{{ $root.modalUser.phone }}</p>
        <div class="notice" ng-show="$root.messages.modal">
        <h4 ng-class="{error: $root.messages.modal.mType == 'error', success: $root.messages.modal.mType == 'success'}" >{{$root.messages.modal.message}}</h4>
        </div>

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                <tr>
                    <td ng-repeat="day in $root.days">

                        <div ng-show="$root.modalUser.riderTimes.to[day]">
                            <p>{{$root.getTime($root.modalUser.riderTimes.to[day].time)}}</p>

                            <button ng-show="!$root.modalUser.riderTimes.to[day].driver" class="btn btn-primary" ng-click="$root.addUserToCar($root.modalUser.$id, day, 'to')"><i class="fa fa-plus"></i></button>

                            <button ng-show="$root.modalUser.riderTimes.to[day].driver == $root.currentUser.$id" class="btn btn-primary" ng-click="$root.removeUserFromCar($root.modalUser.$id, day, 'to')"><i class="fa fa-minus"></i></button>

                            <button disabled="disabled" ng-show="$root.modalUser.riderTimes.to[day].driver !== $root.currentUser.$id && $root.modalUser.riderTimes.to[day].driver" class="btn btn-primary" ng-click="$root.removeUserFromCar($root.modalUser.$id, day, 'from')"><i class="fa fa-check"></i></button>
                        </div>

                        <div ng-show="!$root.modalUser.riderTimes.to[day]">
                            <p>No pickup time</p>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td ng-repeat="day in $root.days">

                        <div ng-show="$root.modalUser.riderTimes.from[day]">
                            <p>{{$root.getTime($root.modalUser.riderTimes.from[day].time)}}</p>

                            <button ng-show="!$root.modalUser.riderTimes.from[day].driver" class="btn btn-primary" ng-click="$root.addUserToCar($root.modalUser.$id, day, 'from')"><i class="fa fa-plus"></i></button>

                            <button ng-show="$root.modalUser.riderTimes.from[day].driver == $root.currentUser.$id" class="btn btn-primary" ng-click="$root.removeUserFromCar($root.modalUser.$id, day, 'from')"><i class="fa fa-minus"></i></button>

                            <button disabled="disabled" ng-show="$root.modalUser.riderTimes.from[day].driver !== $root.currentUser.$id && $root.modalUser.riderTimes.from[day].driver" class="btn btn-primary" ng-click="$root.removeUserFromCar($root.modalUser.$id, day, 'from')"><i class="fa fa-check"></i></button>
                        </div>

                        <div ng-show="!$root.modalUser.riderTimes.from[day]">
                            <p>No pickup time</p>
                        </div>

                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="$close(); $root.clearMessagesFor('modal');">Close</button>
    </div>
</script>