<h1>Driver</h1>
<h2>Find Riders to Pick Up</h2>

<div class="table-responsive" id="pickupTable">
    <table class="table">
        <thead>
            <tr>
                <th>Day:</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Number of Riders:</td>
                <td>1</td>
                <td>3</td>
                <td>2</td>
                <td>1</td>
                <td>4</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <input type='number' ng-model="pickUpRadius" ng-change="update_radius()"></input> -->

<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="0.2" data-slider-value="0"
ng-model="pickUpRadius" ng-change="update_radius()" />

<br><br><br>

<div id="map"></div>

<br><br><br>