<h1>Welcome {{currentUser.name}}!</h1>
<button class="btn btn-primary" ng-click="logout()">Logout</button>



<uib-tabset justified="true ">
    <!-- toggleDriverView() is a function on homeController $scope-->
    <uib-tab heading="Drivers" active="true" select="toggleDriverView()">
        
    </uib-tab>
    <!-- toggleRiderView() is a function on homeController $scope-->
    <uib-tab heading="Riders" select="toggleRiderView()" >
        
    </uib-tab>
</uib-tabset>

<div class="clearfix" ui-view></div>
