<div>
<h1>Rider</h1>
<!-- Show if not editing -->
<span ng-show="!editSchedule">
    <button type="button" class="btn btn-info right"  ng-click="editSchedule = editSchedule === false ? true: false"><i class="fa fa-cog"></i>  Edit Schedule</button>
    <h2>Current Pick-Up Times</h2>
    <p> Showing Schedule for: {{user.name}} <p>


   	<table class="table">
        <tr>
            <th>Monday</th>
 	 <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        <tr>
            <td ng-repeat="day in $root.days">
                {{getTime(user.riderTimes.to[day].time)}}
                <div ng-show="testDrivers.to[day].driver">
                    <br>Driver: {{$root.testDrivers.to[day].driver.$$state.value.name}}
                </div>

            </td>
<!--             <td>{{getTime(user.riderTimes.to.tues.time)}}</td>
            <td>{{getTime(user.riderTimes.to.wed.time)}}
                <br>Driver:</td>
            <td>{{getTime(user.riderTimes.to.thurs.time)}}</td>
            <td>{{getTime(user.riderTimes.to.fri.time)}}</td> -->
        </tr>
        <tr>
            <td ng-repeat="day in $root.days">
                {{getTime(user.riderTimes.from[day].time)}}
                <div ng-show="testDrivers.from[day].driver">
                    <br>Driver: {{testDrivers.from[day].driver.$$state.value.name}}
                </div>

            </td>
        </tr>
    </table>
</span>
<!-- Show if editing -->
<span ng-show="editSchedule">
    <p ng-show="user.scheduled = false">***Looks like we don't have a schedule on file for you. If you are a Driver, please click above to return to the Driver tab. If you are looking for a carpool, please fill out your schedule below.***</p>
    <h2>Schedule Pick-Up Times</h2>
    <p>Please make a selection from the drop down lists with your preferred departure time to and from school. If you do not require a ride on a day, please select None.</p>
    <table class="table">
        <tr>
            <th>Time</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        <tr>
            <td>AM</td>
            <td><select ng-model="MonAM" name="MonAM" id="MonAM">
	            <option value="" selected>None</option>
                <option ng-repeat="(optionName, optionValue) in AM" ng-value="optionValue">{{optionName}}</option>
                </select></td>
            <td><select ng-model="TuesAM" name="TuesAM" id="TuesAM">
                <option value="" selected>None</option>
                <option ng-repeat="(optionName, optionValue) in AM" ng-value="optionValue">{{optionName}}</option>
                </select></td>
            <td><select ng-model="WedAM" name="WedAM" id="WedAM">
                <option value="" selected>None</option>
                <option ng-repeat="(optionName, optionValue) in AM" ng-value="optionValue">{{optionName}}</option>
                </select></td>
            <td><select ng-model="ThursAM" name="ThursAM" id="ThursAM">
                <option value="" selected>None</option>
                <option ng-repeat="(optionName, optionValue) in AM" ng-value="optionValue">{{optionName}}</option>
                </select></td>
            <td><select ng-model="FriAM" name="FriAM" id="FriAM">
                <option value="" selected>None</option>
                <option ng-repeat="(optionName, optionValue) in AM" ng-value="optionValue">{{optionName}}</option>
                </select></td>
        </tr>
        <tr>
            <td>PM</td>
            <td><select ng-model="MonPM" name="MonPM" id="MonPM">
                <option value="" selected>None</option>
                <option ng-repeat="(optionName, optionValue) in PM" ng-value="optionValue">{{optionName}}</option>
                </select></td>
            <td><select ng-model="TuesPM" name="TuesPM" id="TuesPM">
                <option value="" selected>None</option>
                <option ng-repeat="(optionName, optionValue) in PM" ng-value="optionValue">{{optionName}}</option>
                </select></td>
            <td><select ng-model="WedPM" name="WedPM" id="WedPM">
                <option value="" selected>None</option>
                <option ng-repeat="(optionName, optionValue) in PM" ng-value="optionValue">{{optionName}}</option>
                </select></td>
            <td><select ng-model="ThursPM" name="ThursPM" id="ThursPM">
                <option value="" selected>None</option>
                <option ng-repeat="(optionName, optionValue) in PM" ng-value="optionValue">{{optionName}}</option>
                </select></td>
            <td><select ng-model="FriPM" name="FriPM" id="FriPM">
                <option value="" selected>None</option>
                <option ng-repeat="(optionName, optionValue) in PM" ng-value="optionValue">{{optionName}}</option>
                </select></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary" ng-click="updateSchedule()">Update Schedule</button>
    <button type="submit" class="btn btn-warning" ng-show="scheduled = true" ng-click="editSchedule = editSchedule === false ? true: false;">Cancel</button>
</span>
<br> <br>
</div>