<div class="col-sm-8 col-md-6 center">


  <form  name="signupForm" novalidate ng-submit="signupForm.$valid && signupUser()">

    <h4>Name</h4>
    <div style="color:red" ng-show="signupForm.$submitted && signupForm.$dirty && signupForm.$invalid">
      <div ng-show="signupForm.name.$error.required">You must input an name</div>
    </div>
    <input type="text" id="name" name="name" placeholder="Name" ng-model="signup.name" class="form-control" tabindex="1" required autocomplete="on">

    <h4>Email</h4>
    <div style="color:red" ng-show="signupForm.$submitted && signupForm.$dirty && signupForm.$invalid">
      <div ng-show="signupForm.email.$error.required">You must input an email</div>
      <div ng-show="signupForm.email.$error.uwEmail && !signupForm.email.$error.required">That is not a UW email!</div>
    </div>
    <input type="text" id="email" name="email" placeholder="UW Email" ng-model="signup.email" class="form-control" tabindex="1" required autocomplete="on" ui-validate="{uwEmail: 'validUwEmail($value)'}" ng-model-options="{ updateOn: 'default' }">

    <h4>Password</h4>
    <h6>Passwords must be between 8 and 26 characters</h6>
    <div style="color:red" ng-show="signupForm.$submitted && signupForm.$dirty && signupForm.$invalid">
      <div ng-show="signupForm.password.$error.required">You must input a password</div>
      <div ng-show="signupForm.password.$error.minlength">Your password must be at least 8 characters</div>
      <div ng-show="signupForm.password.$error.maxlength">Your password cannot be more than 26 characters</div>
    </div>
    <input type="password" id="password" name="password" placeholder="Password" ng-model="signup.password" class="form-control" tabindex="2" required autocomplete="off" ng-minlength="8" ng-maxlength="26">

    <div style="color:red" ng-show="signupForm.$submitted && signupForm.$dirty && signupForm.$invalid">
      <div ng-show="signupForm.passwordConfirm.$error.match && !signupForm.password.$error.minlength && !signupForm.password.$error.maxlength">Passwords must match</div>
    </div>
    <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm Password" ng-model="signup.passwordConfirm" class="form-control" tabindex="3" autocomplete="off" ui-validate="{match: 'signup.password === $value'}" ui-validate-watch=" 'signup.password' " ng-model-options="{ updateOn: 'default' }">

    <h4>Phone Number</h4>
    <div style="color:red" ng-show="signupForm.$submitted && signupForm.$dirty && signupForm.$invalid">
      <div ng-show="signupForm.phone.$error.required || signupForm.phone.$error.number">A valid phone number is required</div>
      <div ng-show="signupForm.phone.$error.minlength || signupForm.phone.$error.maxlength">phone number should be 10 digits</div>
    </div>
    <input type="number" class="form-control" ng-minlength="10" ng-maxlength="10" id="phone" name="phone" placeholder="Phone Number" ng-model="signup.phone" required tabindex="4">

    <h4>Address</h4>
    <h6>Click on the map to place a pin</h6>
    <div style="color:red" ng-show="signupForm.$submitted && signupForm.$dirty && signupForm.$invalid">
      <div ng-show="signupForm.lat.$error.required || signupForm.lng.$error.required">An address is required</div>
    </div>
    <input type="text" style="display:none" name='lat' ng-model='signup.lat' required ng-value='{{lat}}'>
    <input type="text" style="display:none" name='lng' ng-model='signup.lng' required ng-value='{{lng}}'>
    <div id="map" style="height:300px;width:100%"></div>

    <button id="search-btn" class="btn btn-primary btn-block" type="submit">Sign Up</button>
  </form>
</div>